.table {
  $background: #14151C;
  $background-header: #222731;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $background;
  color: #FFF;
  font-size: .8rem;
  thead {
    background-color: $background-header;
    color: rgba($color: #FFF, $alpha: 0.6);
  }
  tr {
    border-width: 1px;
    border-style: solid;
    border-color: rgba($color: #FFF, $alpha: 0.1);
    height: 2.5rem;
  }

  th, td {
    padding-right: 2rem;
    padding-left: 1rem;
    min-width: max-content;
    white-space: nowrap;
  }

  th {
    text-align: left;
    cursor: pointer;

    span {
      color: transparent;
    }

    &.table__columnLabelSortKey {
      span {
        color: inherit;
      }
    }

  }

  td {
    text-align: left;
  }

}